extends layout

block content
  form.form-signin(method='POST', action='/users/login')
    .text-center.mb-4
      h1.mb-3 Sign In
    .form-group
      .input-group.mb-2
        .input-group-prepend
          .input-group-text @
        input.form-control(name='username', type='text', placeholder='Username')
    .form-group
      input.form-control(name='password', type='password', placeholder='Password')
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
      
  
